body{
    background-color: rgb(43, 42, 42)
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(1fr);
    align-items: center;
}
button{
    height: 300px;
    color: white;
    border: none;
    border-radius: 20%;
    transition: all 0.5s ease-in 0.1s;
}

#ease{
   background-color: #689bed;
   width: 80%;
   justify-self: right;
}
#linear{
   background-color: #a65d68;
   width: 50%;
   justify-self: right;
}
#ease-in{
   background-color: #d6d596; 
   width: 50%;
}
#ease-out{
    background-color: #637a42;
    width: 70%;
}

button:hover{
    transform: translate(-100px);
    background-color: black;
    border-radius: 100%;
    box-shadow: 2em 1em rgb(234, 234, 229), -2em 0 0 rgb(234, 234, 229);

}